@media screen and (max-width: 425px) {
  .card-details {
    flex-direction: column;
  }

  .card {
    margin-left: 5%;
    margin-bottom: 10px;
    width: 400px;
  }

  .view {
    width: 300px;
  }


}